@font-face {
  font-family: "iconfont"; /* Project id 3255358 */
  src: url('iconfont.woff2?t=1647509920752') format('woff2'),
       url('iconfont.woff?t=1647509920752') format('woff'),
       url('iconfont.ttf?t=1647509920752') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinhao:before {
  content: "\e6cf";
}

.icon-electricity-full:before {
  content: "\e996";
}

